<div class="container">
    <h1 class="text-center p-4"> {{ mainCtrl.isSupplierToBeUpdated ?  'Atualizar Fornecedor' : 'Cadastrar Fornecedor' }}</h1>

    <form name="formulario" ng-controller="ValidationController as validCtrl">
        <div class="inputs row gap-2">
            <div class="form-group row">
                <label for="nome-input" class="col-2 col-form-label">Nome do Fornecedor</label>
                <div class="col-10">
                    <input class="form-control" type="text" name="name" ng-model="mainCtrl.tempFornecedor.name"
                        ng-required="true" ng-pattern="/.+/">
                    <div ng-messages="formulario.name.$error" ng-if="formulario.name.$touched || formulario.$submitted">
                        <div class="error-message" ng-message="required">Campo obrigatório!</div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="email-input" class="col-2 col-form-label">Endereço de e-mail</label>
                <div class="col-10">
                    <input class="form-control" type="email" name="email" placeholder="gandalf@email.com"
                        ng-model="mainCtrl.tempFornecedor.email" ng-required="true"
                        ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
                    <div ng-messages="formulario.email.$error"
                        ng-if="formulario.email.$touched || formulario.$submitted">
                        <div class="error-message" ng-message="pattern || required">Campo obrigatório, insira um e-mail válido. (exemplo@email.com)</div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="comment-input" class="col-2 col-form-label">Comentário</label>
                <div class="col-10">
                    <input class="form-control" type="text" ng-model="mainCtrl.tempFornecedor.comment">
                </div>
            </div>
            <div class="form-group row">
                <label for="cnpj-input" class="col-2 col-form-label">CNPJ</label>
                <div class="col-10">
                    <input class="form-control cnpj" type="text" name="cnpj" ng-model="mainCtrl.tempFornecedor.cnpj"
                        ng-required="true" ng-pattern="/^.{14}$/">
                    <div ng-messages="formulario.cnpj.$error" ng-if="formulario.cnpj.$touched || formulario.$submitted">
                        <div class="error-message" ng-message="pattern || required">Campo obrigatório, insira um cnpj válido. </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="py-4">

            <button type="button" class="btn btn-success"
                ng-click="mainCtrl.isSupplierToBeUpdated ? mainCtrl.updateSupplier(formulario) : mainCtrl.createSupplier(formulario) ">
                {{ mainCtrl.isSupplierToBeUpdated ?  'Atualizar' : 'Cadastrar'}}
            </button>
            <a ng-href='#!/list-suppliers'>
                <button type="reset" class="btn btn-primary"
                    ng-click="mainCtrl.executeWhenButtonClicked()">Cancelar</button>
            </a>
        </div>
    </form>
</div>